* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  padding: 3em;
}

h1 {
  font-family:  'Satoshi', sans-serif;
   
}

p {
  padding: 1em;
  font-family: 'General Sans', sans-serif;
}